.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(45, 52, 54, 0.5);
}
.no-modal {
    display: none;
}
.modal-container {
    width: 30%;
    height: 70%;
}
.modal-image {
    background-image: url(../../static/moviesPosters/killbill.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
}
.modal-image::before {
    background-color: rgba(45, 52, 54, 0.7);
    width: 100%;
    height: 200px;
}
.modal-poster {
    position: absolute;
    top: 50px;
    left: 100px;
}
.modal-poster img {
    width: 100%;
    height: auto;
}
