.header {
    position: fixed;
    /* +++ que otra cosa hace fixed ademas de fijarlo? ver lo que ocurre en el navegador. probar  */
    background: #fff;
    z-index: 15;
    /* +++que es este index  */
    display: flex;
    width: 100%;
    height: 75px;
    margin-left: 95px;
    border-top: 0;
    border-bottom: 0;
    top: 0;
    /* que es este top?  */
}
.header-search {
    position: relative;
    /* ++++que hace ? */
    height: 75px;
    right: 0;
    /* ++++que hace  */
    display: flex; /* usar flex-direction */
    /* el display flex hace que tome toda la pantalla. ver otra vez como comienza vieo falcon master; */
    z-index: 5;
    /* ++++otra vez  */
}
.header-search-input {
    display: block;
    width: 100%;
    padding: 15px 30px 15px 60px;
    outline: none;
    border: 0;
    background-color: transparent;
    color: #081c24;
    font-weight: 300;
    font-size: 16px;
}
.header-search svg {
    width: 18px;
    height: 18px;
    margin-top: -9px; /* codigo repetido con linea 48 */
    left: 30px; /* puedes borrar esto y user flex en el contenedor */
    pointer-events: none;
    /* +++++que hace  */
    position: absolute; /* puedes borrar esto y user flex en el contenedor */
    top: 50%; /* puedes borrar esto y user flex en el contenedor */
    margin-top: -7px; /* ? por que
    /* ver fill y transition: ; */
}

/* ====================== MAIN ======================= */
