.main-wrapper {
    display: flex;
    flex-direction: column;
    height: 384px;
}
/* ==== ACA VAN 4 WRAPERS */

.wrapper {
    position: relative;
}
.movies {
    padding: 25px;
}
/* aca dentro hay un header y un ul movies-list */

.movies-header {
    padding: 23px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* dento de movies_title hay un h2 movies title y un link movies-link  */
.movies__title {
    font-size: 18px;
    line-height: 18px;
    color: #081c24;
    font-weight: 300;
}

.movies-link {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: rgba(8, 28, 36, 0.5);
    text-decoration: none;
    /* tiene un transition: ; */
}

/* =======aca va la lista de peliculas  */

.movies-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
